<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script 
    {{#if query.concat||query.combo}}
        {{#if query.min}}
            src='http://localhost:8888/kissy/build/??seed.js,import-style.js' data-config='{combine:true}' 
        {{else}}
            src='http://localhost:8888/kissy/build/??seed-debug.js,import-style-debug.js' data-config='{combine:true}' 
        {{/if}}
    {{else}}
            src='http://localhost:8888/kissy/build/seed-debug.js' 
    {{/if}} 
    ></script>
    <script>
        KISSY.config({
            packages:[{
                name:'my',
                {{#if query.min}}
                    filter:'min',
                {{else}}
                    filter:'',
                {{/if}}
                {{#if query.concat}}
                    path:'/statics/build-concat/my'
                {{else}}
                    {{#if query.combo}}
                        path:'/statics/build-combo/my'
                    {{else}}
                        path:'/statics/src/my'
                    {{/if}}
                {{/if}}
            }]
        });
    </script> 
    
    {{#if query.concat}}
        <script src='/statics/build-concat/my/modules.js'></script>
        <script>KISSY.importStyle('my/index');</script>
    {{/if}} 
    
    {{#if query.combo}}
        <script src='/statics/build-combo/my/modules.js'></script>
        <script>KISSY.importStyle('my/index');</script>
    {{/if}}
    
    
</head>
<body>
    <div id='head'>
        placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
        placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
        placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
        placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
    </div>
    <script>
        KISSY.use('my/',function(S, my){
            my.init();
        });
    </script>
</body>
</html>